<div class="content-wrap">
    <main id="content" class="content" role="main">
        <h1 class="page-title">Our Library</h1>
            <% @documents.in_groups_of(3) do |documents| %>
                <div class="row">
                    <% documents.compact.each do |document| %>
                        <div class="col-md-4">
                            <section class="widget">
                                <div class="widget-controls">
                                    <% if document.created_by?(current_user) %>
                                        <%= link_to document_path(document), method: :delete do %>
                                            <i class="glyphicon glyphicon-remove"></i>
                                        <% end %>
                                    <% end %>
                                </div>
                                <div class="widget-body">
                                    <!-- cover art -->
                                    <div class="widget-top-overflow windget-padding-md clearfix bg-warning text-white" style="
                                        background-image: url(<%= image_path document.cover.url %>); background-repeat: no-repeat; background-position: center; background-size: 100%;">
                                    </div>
                                    <!-- document information -->
                                    <div class="post-user mt-n-lg">
                                        <h3 class="mt-lg mb-lg"> 
                                            <span class="fw-semi-bold">
                                                <%= link_to document.title, document, style: 'color: gray;', data: { no_turbolink: true } %>
                                            </span>
                                        </h3>
                                    </div>
                                    <div class="post-user mt-n-lg">
                                        <h5 class="mt-sm fw-normal text-black"><%= document.author.full_name %></h5>
                                    </div>
                                    <p class="text-light fs-mini m">
                                        <%= document.description %>
                                    </p>
                                </div>
                            </section>
                        </div>
                    <% end %>
                </div>
            <% end %>
    </main>
</div>
<!-- The Loader. Is shown when pjax happens -->
<div class="loader-wrap hiding hide">
    <i class="fa fa-circle-o-notch fa-spin-fast"></i>
</div>