<div class="content-wrap">
    <main id="content" class="content" role="main">
        <div class="row">
            <div class="col-md-6">
                <section class="widget">
                    <div class="widget-body">
                        <!-- title row -->
                        <div class="row">
                            <div class="col-sm text-left">
                                <div class="post-user post-user-profile" style=<%= Rails.env.production? ? "\"margin-top: inherit;\"".html_safe : "" %>>
                                    <h2 class="fw-normal"> <span class="fw-semi-bold"><%= @document.title %></span></h2>
                                    <h4><p><%= @author.full_name %> | <%= number_to_currency @document.price, precision: 0 %> </p></h4>
                                </div>
                            </div>
                        </div>
                        <!-- cover art row -->
                        <div class="widget-top-overflow text-white">
                            <div class="height-150 overflow-hidden", align="right">
                                <%= image_tag @document.cover, class: 'img-responsive right-block', style: 'max-height: 100%;' %>
                            </div>
                        </div>
                        <!-- addition info row -->
                        <div class="row">
                            <div class="col-xs-12">
                                <h4 style="font-weight: bold; margin-bottom: 0px;">
                                    About <%= @document.title %>
                                </h4>
                                <p class="lead">
                                     <h5><%= @document.description %></h5>
                                 </p>
                            </div>
                            <div class="col-xs-12">
                                <h4 style="font-weight: bold; margin-bottom: 0px;">
                                    About <%= @author.full_name %>
                                </h4>
                                <p class="lead">
                                     <h5><%= @author.description %></h5>
                                 </p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-6">
                <section class="activities">
                    <% if !user_signed_in? %>
                        <% if params[:downloaded_document] %>
                            <%= render 'layouts/purchased_document' %>
                        <% else %>
                            <%= render 'layouts/purchase_form' %>
                        <% end %>
                    <% elsif @document.created_by?(current_user) %>
                    <% elsif current_user.has_owned_document?(@document) %>
                        <h2>Download</h2>
                        <%= render 'layouts/purchased_document' %>
                    <% else %>
                        <%= render 'layouts/purchase_form' %>
                    <% end %>
                </section>
            </div>
        </div>
    </main>
</div>
<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
<script>
    $(document).ready(function(){
        braintree.setup("<%= @client_token %>", "dropin", {
          container: "dropin-container"
        });
    });

</script>