<div class="content-wrap">
    <!-- main page content. the place to put widgets in. usually consists of .row > .col-md-* > .widget.  -->
    <main id="content" class="content" role="main">
        <div class="row">
            <div class="col-md-6">
                <section class="widget">
                    <div class="widget-body">
                        <div class="widget-top-overflow text-white">
                            <div class="height-250 overflow-hidden">
                                <%= image_tag @document.cover, class: 'img-responsive center-block', style: 'max-height: 100%;' %>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-5 text-center">
                                <div class="post-user post-user-profile" style=<%= Rails.env.production? ? "\"margin-top: inherit;\"".html_safe : "" %>>
                                    <span class="thumb-xlg" style="visibility: hidden;">
                                        <img class="img-circle" src="/assets/production/demo/people/a5.jpg" alt="...">
                                    </span>
                                    <h4 class="fw-normal"> <span class="fw-semi-bold"><%= @document.title %></span></h4>
                                    <p><%= @author.full_name %></p>

                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="stats-row stats-row-profile mt text-right">
                                    <div class="stat-item">
                                        <p class="value">
                                            <%= number_to_currency @document.price, precision: 0 %>
                                        </p>

                                    </div>
<!--                                     <div class="stat-item">
                                        <p class="value">9.38%</p>
                                        <h5 class="name">Conversion</h5>
                                    </div>
                                    <div class="stat-item">
                                        <p class="value">842</p>
                                        <h5 class="name">Followers</h5>
                                    </div> -->
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h4 style="font-weight: bold; margin-bottom: 0px;">
                                    About <%= @author.first_name %>
                                </h4>
                                <p class="lead">
                                     <%= @author.description %>
                                 </p>
                            </div>
                            <div class="col-xs-12">
                                <h4 style="font-weight: bold; margin-bottom: 0px;">
                                    About <%= @document.title %>
                                </h4>
                                <p class="lead">
                                     <%= @document.description %>
                                 </p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-6">
                <section class="activities">
                    <% if !user_signed_in? %>
                        <% if params[:downloaded_document] %>
                            <%= render 'layouts/purchased_document' %>
                        <% else %>
                            <%= render 'layouts/purchase_form' %>
                        <% end %>
                    <% elsif @document.created_by?(current_user) %>
                    <% elsif current_user.has_owned_document?(@document) %>
                        <h2>Download</h2>
                        <%= render 'layouts/purchased_document' %>
                    <% else %>
                        <%= render 'layouts/purchase_form' %>
                    <% end %>
                </section>
            </div>
        </div>
    </main>
</div>
<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
<script>
    $(document).ready(function(){
        braintree.setup("<%= @client_token %>", "dropin", {
          container: "dropin-container"
        });
    });

</script>