
<section class="event">
    <h4 class="event-heading"><a href="#">Purchase <%= @document.title %></a></h4>
    <p class="fs-mini">
        <%= form_for @transaction do |f| %>
         <% unless user_signed_in? %>
            <%= f.text_field :non_user_email, class: 'form-control', placeholder: "What is your email?" %><br />
         <% end %>
          <div id="dropin-container"> </div>
          <%= f.hidden_field :document_id, value: @document.id %>
          <%= f.submit "Purchase", class: 'btn btn-primary', style: 'width: 100%; margin-top: 30px; margin-bottom: 38px;' %>
        <% end %>
    </p>
</section>
