<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Code Undercover">
  	<title>Johntan</title>
  	<%= stylesheet_link_tag    'landing', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'landing', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
      <script src="/assets/landings/html5shiv.js"></script>
      <script src="/assets/landings/respond.min.js"></script>
    <![endif]-->

</head>
<body>
	<!-- Pre-loader -->
  	<div class="preloader">
    	<div class="status">&nbsp;</div>
  	</div>

<%= bootstrap_flash %>


<%= yield %>

</body>
</html>
